.testimonials_card2 {
  background: #fff;
}

.testimonials_card2 .card_image {
  width: 80px;
  height: 80px;
  font-size: 30px;
}
.testimonials_card2 .card-icon {
  top: 37px;
  left: 50%;
  color: #456EDA;
  font-size: 250px;
  opacity: 0.2;
  z-index: 0;
  line-height: 200px;
  margin-left: -120px;
}